*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#cardList{
    display: flex;
    flex-wrap: wrap;
}

.card{
    width: fit-content;
    max-width: 350px;
    border: 1px solid black;
    border-radius: 8px;
    margin: 8px;
    padding: 8px;
}