
#details{
    justify-content: flex-start;
    flex-direction: column;
}

.intro{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 16px;

}

.intro  img {
    height: 150px;
    border-radius: 4px;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 0 16px;
    margin-bottom: 8px;
}


.ingredientList{
    margin: 0px 32px;
}


.procedure{
    margin: 16px;
    overflow-wrap: break-word;
}

pre {
  white-space: pre-wrap;
  overflow-wrap: break-word; /* New syntax, replaces 'word-wrap' */
  word-wrap: break-word;     /* Old syntax for compatibility */
}
