*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

#searchContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/image.png);
    width: 100vw;
    position: fixed;
    top: 0;
}

#searchContainer > a{
    color: white;
    text-decoration: none;
    text-shadow: 0px 0px 4px black;
}

#searchBox{
    height: 48px;
    width: 60vw;
    min-width: 400px;
    margin: 16px;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    /* text-align: center; */
    font-size: large;
    box-shadow: 0px 0px 8px black;
}

#main{
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

a{
    color: black;
}

.card{
    width: 218px;
    border: 1px solid black;
    border-radius: 4px;
    margin: 8px;
    padding: 8px;
    box-shadow: 2px 2px 4px black;
}

.card img{
    height: 200px;
    border-radius: 2px;
}

.seeMoreButton{
    padding: 4px;
    margin: 4px 0;
}

@media screen and (max-width: 600px) {
    #searchContainer{
        display: flex;
        flex-direction: column;
    }

    #main{
        margin-top: 120px;
    }

    #searchBox{
        width: 90vw;
        min-width: unset;
    }

    .card{
        width: 90vw;
    }

    .card img{
        height: auto;
        width: 100%;
    }
}